.box{
  height: 200px;
  width: 200px;
  background-color: crimson;
}

.page1{
  height: 100vh;
  width: 100%;
  background-color: bisque;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: blue;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: green;
}